@import "tailwindcss";
@custom-variant dark (&:where([data-theme=dark], [data-theme=dark] *));

.card {
  background: radial-gradient(
    120% 120% at 50% 0%,
    rgba(255,255,255,0.09),
    rgba(255,255,255,0.02)
  );
  border: 1px solid rgba(255,255,255,0.08);
}
